.certificate {
    &__svg {
        margin-left: 162px;
        margin-bottom: 40px;
    }

    &__box {
        max-width: 1220px;
        margin: 0 auto;
    }

    &__picture {
        margin-left: -55px;
        margin-top: -25px;
    }

    &__content {
        max-width: 625px;
    }

    &__title {
        font-family: $m-font-extra, sans-serif;
        font-weight: 800;
        font-size: 44px;
        line-height: 60px;
        color: $color-bahama-blue;
        margin-bottom: 20px;
    }

    &__item {
        max-width: 567px;
        margin-bottom: 40px;

        &>p:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__text {
        font-family: $m-font-regular, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $color-black;
    }
}