.contacts {
    position: relative;

    &__bg-image {
        position: absolute;
        z-index: -1;
    }

    &__block {
        padding-top: 385px;
    }

    &__heading {
        margin-bottom: 70px;
    }
}