.trainers {
    margin-bottom: 68px;

    &__heading {
        margin-bottom: 70px;
    }

    &__content {
        text-align: center;
    }

    &__picture {
        margin-bottom: 24px;

        & img {
            border-radius: 50%;
        }
    }

    &__text {
        font-family: $m-font-medium, sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color: $color-orient;
    }
}